* {
  margin: 0;
  padding: 0;
  border: 1px solid limegreen;  
}

button {
  margin: 10px;
}

#newGame, #table_top {  
  background-color: khaki;
}

#table_top {
  position: relative;
  width: auto;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  border: 1px solid black;
}

#table_top > span {
  border: 1px solid blue;
  margin: 2px;
}

#newGame, #resultScreen {
  z-index: 4;
}

#handBlocker, #dealerBlock {
  z-index: 2;
  border: 3px solid red;
}

.cover{  
  display: flex;
  /* display: none; */
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cover button, h1{
  height: auto;
  width: auto;
  font-size: 4em;
  padding: 15px;
}

#resultScreen{
  background-color: rgba(0, 0, 0, 0.5);
}

.blocker{
  width: 50%;
  height: auto;
  border: 5px solid black;
  border-radius: 5px;
  background-color: khaki;
  color: black;
  font-size: 4em;
  text-align: center;
  vertical-align: middle;
}

#southEnd {
  position: relative;
  display: flex;
  justify-content: center;
}

.playerArea  {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
}

#splitArea {
  display: none;
  position: absolute;
}

.hand {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  border: 1px solid red;
  margin: 2px;
  width: fit-content;
  min-width: 400px;
  perspective: 1000px;
}

.card {
  position: relative;
  border: 1px solid green;
  height: 26.8vh;
  width: 18vh;
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.card.flip {
  transform: rotateY(180deg);
}

.card img {  
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.cardFront{
  transform: rotateY(180deg);
}

.sideControl {
  padding: 20px;
}

.sideControl > button {
  display: block;
  height: 30px;
  width: 60px;
  margin: 10px;
}

.sideControl > em, p {
  display: inline;
}

#betScreen span {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

#betScreen {
  background: khaki;
}

